In [2]:
import pandas as pd

In [3]:
summary = pd.read_csv('tcremp_clusters_summary_4.csv')

In [34]:
all_data = pd.read_csv('yfv_S1_tcremp_clusters_neigh_4.tsv', sep='\t')

In [5]:
summary

,cluster,day0_usage,day0_found,day15_usage,day15_found,vdjdb_yfv,vdjdb_yfv_day0,vdjdb_yfv_day15,delta,cluster_size,yfv_15_frac_in_cluster
0,0,0.000948,25,0.000582,21,2,1,1,0.614221,36,0.027778
1,1,0.000750,6,0.000527,3,0,0,0,0.702768,6,0.000000
2,2,0.001000,43,0.000944,35,15,13,7,0.944341,70,0.100000
3,3,0.000813,30,0.000480,30,0,0,0,0.589948,52,0.000000
4,4,0.000984,61,0.000767,63,0,0,0,0.779168,115,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
6106,6106,0.000011,1,0.000017,3,0,0,0,1.494991,3,0.000000
6107,6107,0.000013,2,0.000010,2,0,0,0,0.716093,3,0.000000
6108,6108,0.000004,1,0.000008,2,0,0,0,1.973535,3,0.000000
6109,6109,0.000004,1,0.000011,3,0,0,0,2.947509,4,0.000000
6110,6110,0.000008,2,0.000004,1,0,0,0,0.506257,3,0.000000

In [7]:
fisher_exact([[25, 146438 - 25], [21, 140596 - 21]])

SignificanceResult(statistic=1.1430077279762758, pvalue=0.6617654904161154)

In [11]:
fisher_exact([[10, 100], [25, 100]], alternative='greater')

SignificanceResult(statistic=0.4, pvalue=0.9948998767869774)

In [12]:
fisher_exact([[10, 100], [25, 100]], alternative='less')

SignificanceResult(statistic=0.4, pvalue=0.014430012988946592)

In [82]:
from scipy.stats import fisher_exact, binom

In [88]:
binom.sf(k=30, n=100, p=20/100)

0.006059335481042978

In [89]:
summary['pval_enriched_sample_binom'] = summary.apply(lambda x: binom.sf(p=x.day0_found/146438,
                                                                         k=x.day15_found,
                                                                         n=140596), 
                                                axis=1)

In [22]:
summary['pval_enriched_sample'] = summary.apply(lambda x: fisher_exact([[x.day0_found, 146438 - x.day0_found], 
                                                                        [x.day15_found, 140596 - x.day15_found]], alternative='less')[1], 
                                                axis=1)

In [23]:
summary

,cluster,day0_usage,day0_found,day15_usage,day15_found,vdjdb_yfv,vdjdb_yfv_day0,vdjdb_yfv_day15,delta,cluster_size,yfv_15_frac_in_cluster,pval_enriched_sample
0,0,0.000948,25,0.000582,21,2,1,1,0.614221,36,0.027778,0.725067
1,1,0.000750,6,0.000527,3,0,0,0,0.702768,6,0.000000,0.899729
2,2,0.001000,43,0.000944,35,15,13,7,0.944341,70,0.100000,0.799286
3,3,0.000813,30,0.000480,30,0,0,0,0.589948,52,0.000000,0.488271
4,4,0.000984,61,0.000767,63,0,0,0,0.779168,115,0.000000,0.375647
...,...,...,...,...,...,...,...,...,...,...,...,...
6106,6106,0.000011,1,0.000017,3,0,0,0,1.494991,3,0.000000,0.297391
6107,6107,0.000013,2,0.000010,2,0,0,0,0.716093,3,0.000000,0.672083
6108,6108,0.000004,1,0.000008,2,0,0,0,1.973535,3,0.000000,0.484737
6109,6109,0.000004,1,0.000011,3,0,0,0,2.947509,4,0.000000,0.297391
6110,6110,0.000008,2,0.000004,1,0,0,0,0.506257,3,0.000000,0.867213

In [24]:
summary['pval_enriched_background'] = summary.apply(lambda x: fisher_exact([[x.day0_found, 146438 - x.day0_found], 
                                                                        [x.day15_found, 140596 - x.day15_found]], alternative='greater')[1], 
                                                axis=1)

In [25]:
summary

,cluster,day0_usage,day0_found,day15_usage,day15_found,vdjdb_yfv,vdjdb_yfv_day0,vdjdb_yfv_day15,delta,cluster_size,yfv_15_frac_in_cluster,pval_enriched_sample,pval_enriched_background
0,0,0.000948,25,0.000582,21,2,1,1,0.614221,36,0.027778,0.725067,0.380969
1,1,0.000750,6,0.000527,3,0,0,0,0.702768,6,0.000000,0.899729,0.274340
2,2,0.001000,43,0.000944,35,15,13,7,0.944341,70,0.100000,0.799286,0.270220
3,3,0.000813,30,0.000480,30,0,0,0,0.589948,52,0.000000,0.488271,0.613050
4,4,0.000984,61,0.000767,63,0,0,0,0.779168,115,0.000000,0.375647,0.690217
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6106,6106,0.000011,1,0.000017,3,0,0,0,1.494991,3,0.000000,0.297391,0.942436
6107,6107,0.000013,2,0.000010,2,0,0,0,0.716093,3,0.000000,0.672083,0.702609
6108,6108,0.000004,1,0.000008,2,0,0,0,1.973535,3,0.000000,0.484737,0.882479
6109,6109,0.000004,1,0.000011,3,0,0,0,2.947509,4,0.000000,0.297391,0.942436
6110,6110,0.000008,2,0.000004,1,0,0,0,0.506257,3,0.000000,0.867213,0.515263

In [90]:
summary[summary.pval_enriched_sample_binom < 0.05]

,cluster,day0_usage,day0_found,day15_usage,day15_found,vdjdb_yfv,vdjdb_yfv_day0,vdjdb_yfv_day15,delta,cluster_size,yfv_15_frac_in_cluster,pval_enriched_sample,pval_enriched_background,pval_enriched_sample_binom
5,5,0.000550,8,0.000531,13,0,0,0,0.964969,20,0.000000,0.167023,0.920237,0.025637
7,7,0.000826,46,0.000712,65,4,2,3,0.861379,95,0.031579,0.027061,0.982865,0.001276
11,11,0.000417,4,0.000485,7,0,0,0,1.163819,10,0.000000,0.251930,0.899313,0.042193
15,15,0.000320,7,0.000702,15,3,0,3,2.195064,21,0.142857,0.055340,0.979051,0.001618
16,16,0.000289,5,0.000266,9,0,0,0,0.920665,13,0.000000,0.190275,0.922035,0.025155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6099,6099,0.000000,0,0.000011,3,0,0,0,115.200010,3,0.000000,0.117521,1.000000,0.000000
6102,6102,0.000000,0,0.000015,3,0,0,0,153.266680,3,0.000000,0.117521,1.000000,0.000000
6105,6105,0.000000,0,0.000011,3,0,0,0,115.200010,3,0.000000,0.117521,1.000000,0.000000
6106,6106,0.000011,1,0.000017,3,0,0,0,1.494991,3,0.000000,0.297391,0.942436,0.016639
6109,6109,0.000004,1,0.000011,3,0,0,0,2.947509,4,0.000000,0.297391,0.942436,0.016639

In [74]:
enriched_clusters = summary[summary.pval_enriched_sample < 0.05]

In [81]:
enriched_clusters[enriched_clusters.vdjdb_yfv > 0]

,cluster,day0_usage,day0_found,day15_usage,day15_found,vdjdb_yfv,vdjdb_yfv_day0,vdjdb_yfv_day15,delta,cluster_size,yfv_15_frac_in_cluster,pval_enriched_sample,pval_enriched_background
7,7,0.000826,46,0.000712,65,4,2,3,0.861379,95,0.031579,0.027061,0.982865
50,50,0.000128,3,0.000124,11,1,0,1,0.969735,13,0.076923,0.024052,0.994770
56,56,0.000499,74,0.000738,111,1,0,1,1.480152,176,0.005682,0.001687,0.998964
271,271,0.000129,20,0.000217,35,3,1,2,1.675193,46,0.043478,0.020364,0.989845
361,361,0.000253,46,0.000965,62,4,4,1,3.809201,101,0.009901,0.048798,0.967839
453,453,0.000023,2,0.001108,8,5,2,4,48.271249,9,0.444444,0.047885,0.990925
518,518,0.000137,26,0.000261,47,5,4,3,1.901262,62,0.048387,0.005754,0.997159
1326,1326,0.000042,9,0.000084,18,10,1,9,1.996719,27,0.333333,0.049246,0.979663
1363,1363,0.000129,21,0.000575,43,15,8,10,4.436519,56,0.178571,0.002490,0.998914
2167,2167,0.000017,4,0.002638,23,7,1,6,153.043347,27,0.222222,0.000104,0.999984
2331,2331,0.000034,8,0.000392,24,6,1,5,11.408914,32,0.156250,0.002470,0.999286
2585,2585,0.000010,2,0.000063,12,2,0,2,6.538848,14,0.142857,0.005230,0.999287
2640,2640,0.000017,4,0.000055,12,5,0,5,3.207886,16,0.312500,0.032087,0.991430
3098,3098,0.000004,1,0.000030,8,4,1,3,7.817381,9,0.333333,0.016837,0.998377
4021,4021,0.000019,5,0.000525,26,10,1,9,27.448653,30,0.300000,0.000062,0.999990
4065,4065,0.000011,2,0.000074,8,5,2,5,6.449372,8,0.625000,0.047885,0.990925
4907,4907,0.000000,0,0.000512,5,5,0,5,5120.967110,5,1.000000,0.028196,1.000000
4908,4908,0.000000,0,0.000837,11,6,0,6,8375.667392,11,0.545455,0.000389,1.000000
4911,4911,0.000000,0,0.000200,6,5,0,5,1999.500173,6,0.833333,0.013811,1.000000
4914,4914,0.000000,0,0.000143,9,8,0,8,1428.500124,9,0.888889,0.001623,1.000000
4919,4919,0.000000,0,0.000150,6,4,0,4,1504.633464,6,0.666667,0.013811,1.000000
4939,4939,0.000006,1,0.000122,11,1,0,1,20.974060,11,0.090909,0.002574,0.999809
4941,4941,0.000000,0,0.000095,7,4,0,4,952.666749,7,0.571429,0.006765,1.000000
4979,4979,0.000000,0,0.000042,8,2,0,2,419.733370,8,0.250000,0.003313,1.000000
5005,5005,0.000000,0,0.000030,5,2,0,2,305.533360,5,0.400000,0.028196,1.000000
5235,5235,0.000000,0,0.000025,5,1,0,1,248.433355,5,0.200000,0.028196,1.000000
5246,5246,0.000000,0,0.000021,5,1,0,1,210.366685,5,0.200000,0.028196,1.000000

In [36]:
enriched_clusters = summary[summary.pval_enriched_sample < 0.05].cluster

In [38]:
enriched_cluster_clonotypes = all_data[all_data.cluster_id.isin(enriched_clusters)]

In [40]:
enriched_cluster_clonotypes['cdr3aa'] = enriched_cluster_clonotypes.clone_id.apply(lambda x: x.split('_')[0])

/scratch/ipykernel_3958769/1219097032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enriched_cluster_clonotypes['cdr3aa'] = enriched_cluster_clonotypes.clone_id.apply(lambda x: x.split('_')[0])

In [43]:
enriched_cluster_clonotypes['v'] = enriched_cluster_clonotypes.clone_id.apply(lambda x: x.split('_')[1])

/scratch/ipykernel_3958769/4212106891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enriched_cluster_clonotypes['v'] = enriched_cluster_clonotypes.clone_id.apply(lambda x: x.split('_')[1])

In [44]:
enriched_cluster_clonotypes['j'] = enriched_cluster_clonotypes.clone_id.apply(lambda x: x.split('_')[2])

/scratch/ipykernel_3958769/1803421984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enriched_cluster_clonotypes['j'] = enriched_cluster_clonotypes.clone_id.apply(lambda x: x.split('_')[2])

In [59]:
enriched_cluster_clonotypes = enriched_cluster_clonotypes.drop(columns=['clone_id'])
enriched_cluster_clonotypes

        cluster_id           cdr3aa            v           j
57               7  CASSNAGTAYNEQFF   TRBV5-1*01  TRBJ2-1*01
161             24       CSVKNTEAFF  TRBV29-1*01  TRBJ1-1*01
367             50   CSARTSGGYNEQFF  TRBV29-1*01  TRBJ2-1*01
381             56    CSDSTGEAYEQYF  TRBV29-1*01  TRBJ2-7*01
407             61       CSVRVNEQFF  TRBV29-1*01  TRBJ2-1*01
...            ...              ...          ...         ...
263714          61        CSVGLEQFF  TRBV29-1*01  TRBJ2-1*01
263716          24        CSVDTEAFF  TRBV29-1*01  TRBJ1-1*01
263717          61        CSAGSEQFF  TRBV29-1*01  TRBJ2-1*01
263748          61         CSVGEQFF  TRBV29-1*01  TRBJ2-1*01
263749          61         CSATDRPI  TRBV29-1*01  TRBJ2-1*01

[1142 rows x 4 columns]

In [61]:
vdjdb = pd.read_csv('vdjdb.slim.txt', sep='\t')
vdjdb = vdjdb[(vdjdb.gene == 'TRB') & (vdjdb['antigen.species'] == 'YFV')]

In [62]:
vdjdb

,gene,cdr3,species,antigen.epitope,antigen.gene,antigen.species,complex.id,v.segm,j.segm,mhc.a,mhc.b,mhc.class,reference.id,vdjdb.score,j.start,v.end
34435,TRB,CAIQDAGASYEQYF,HomoSapiens,LLWNGPMAV,NS4B,YFV,7606,TRBV6-2*01,TRBJ2-7*01,HLA-A*02:01,B2M,MHCI,PMID:28934479,2,8,2
34544,TRB,CAISDLAGEPKTQETQYF,HomoSapiens,LLWNGPMAV,NS4B,YFV,7607,TRBV10-3*01,TRBJ2-5*01,HLA-A*02:01,B2M,MHCI,PMID:28934479,1,12,4
34777,TRB,CAISESPSGALGQFF,HomoSapiens,LLWNGPMAV,NS4B,YFV,6595,TRBV10-3*01,TRBJ2-1*01,HLA-A*02:01,B2M,MHCI,PMID:28103239,1,12,5
34856,TRB,CAISEVLTGAYGYTF,HomoSapiens,LLWNGPMAV,NS4B,YFV,6593,TRBV10-3*01,TRBJ1-2*01,HLA-A*02:01,B2M,MHCI,PMID:28103239,2,10,5
35117,TRB,CANNCGFF,HomoSapiens,LLWNGPMAV,NS4B,YFV,6688,TRBV5-1*01,TRBJ1-4*01,HLA-A*02:01,B2M,MHCI,PMID:28103239,2,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84604,TRB,CSVSGERGTDTQYF,HomoSapiens,LLWNGPMAV,NS4B,YFV,6631,TRBV29-1*01,TRBJ2-3*01,HLA-A*02:01,B2M,MHCI,PMID:28103239,2,8,3
84649,TRB,CSVTGERGTDTQYF,HomoSapiens,LLWNGPMAV,NS4B,YFV,6694,TRBV29-1*01,TRBJ2-3*01,HLA-A*02:01,B2M,MHCI,PMID:28103239,2,8,3
84690,TRB,CSVVDAAPGANVLTF,HomoSapiens,LLWNGPMAV,NS4B,YFV,0,TRBV29-1*01,TRBJ2-6*01,HLA-A*02,B2M,MHCI,https://github.com/antigenomics/vdjdb-db/issue...,2,8,3
84691,TRB,CSVVDAAPGGSYEQYF,HomoSapiens,LLWNGPMAV,NS4B,YFV,0,TRBV29-1*01,TRBJ2-7*01,HLA-A*02,B2M,MHCI,https://github.com/antigenomics/vdjdb-db/issue...,1,10,3
84740,TRB,CSVVLVDRGADTQYF,HomoSapiens,LLWNGPMAV,NS4B,YFV,6698,TRBV29-1*01,TRBJ2-3*01,HLA-A*02:01,B2M,MHCI,PMID:28103239,2,10,3

In [63]:
enriched_cluster_clonotypes['vdjdb'] = enriched_cluster_clonotypes.cdr3aa.apply(lambda x: x in vdjdb['cdr3'])

In [65]:
enriched_cluster_clonotypes[enriched_cluster_clonotypes.vdjdb]

Empty DataFrame
Columns: [cluster_id, cdr3aa, v, j, vdjdb]
Index: []

In [67]:
dataset = ClonotypeDataset.from_representations([ClonotypeRepresentation(cdr3aa=x) for x in enriched_cluster_clonotypes.cdr3aa])

In [68]:
dataset

A dataset of 1120 clonotypes and 468 clusters

In [70]:
dataset.__clusters_df

AttributeError: 'ClonotypeDataset' object has no attribute '__clusters_df'

In [72]:
for clonotype in vdjdb.cdr3:
    matches = dataset.get_matching_clonotypes('CAIQDAGASYEQYF')
    if len(matches) > 0:
        print(clobnotype, matches)